a, a:hover {
  text-decoration: none;
} 
.clear {
  clear: both;
}

/* --------------------------------------------- */
/* Menu */
.menu {
  position: fixed;
  background: transparent;
  width: 100%;
  z-index: 99;
  height: 53px;
  border: none;
  border-radius: 0;box-shadow: 0px 0px 10px #333;  
  margin: 0;    
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  transition: .2s ease-in-out;    
}
.menu .navbar-header .navbar-brand-image {
  width: 50px;
  height: 50px;
  margin: 5px 10px;
  float: left;
}
.menu .navbar-brand {
  display: none
}
.menu .navbar-brand, .menu li a {  
  color: rgb(226, 224, 226);  
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  border-radius: 0;
  -webkit-transition: .1s ease-in;
  -moz-transition: .1s ease-in;
  transition: .1s ease-in;    
}
.menu li a:hover {
  background: transparent;  
  border-bottom: 3px solid rgb(130, 19, 24);
}

.mobile-menu {
  display: none;  
  background: #fff;
  margin-top: -8px;
  -webkit-transition: .1s ease-in;
  -moz-transition: .1s ease-in;
  transition: .1s ease-in;
}
.menu-toggle-btn {
  float: right;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  display: none;
}



/* --------------------------------------------- */
/* Jumbotron */
.jumbotron {  
  height: 680px;
  background: rgb(51, 51, 51);  
  z-index: 1;  
  margin: 0;
}
/* Jumbotron - Profile - Contains profile image */
.jumbotron .profile {  
  height: 100%; 
  width: 100%;
  margin: 0;
  margin-top: 15px;  
  padding: 30px;
}
.jumbotron .profile img { 
  height: 100%;
  width: 100%;
 }
 /* Jumbotorn - Content - Contains heading and into text. */
 .jumbotron .content {
  padding: 80px 15px 10px;  
  text-align: left;  
}
.jumbotron .content .heading {
  padding-left: 80px;  
}
.jumbotron .content .heading h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 50px;
  color: rgb(226, 224, 226);
}
.jumbotron .content .heading h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: rgb(226, 224, 226);
}
.jumbotron .content .heading a {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: rgb(226, 224, 226);
  cursor: pointer;
}
.jumbotron .content .heading a i {
  background: rgba(0, 189, 166, 1);
  padding: 10px 15px;
  border-radius: 30px;
  text-align: center;
  font-size: 25px;
  transition: .4s ease-in;
}
.jumbotron .content .heading a i:hover {
  transform: rotate(360deg);
}

/* --------------------------------------------- */
/* Projects */
.projects {  
  background: rgb(224, 224, 224);  
  height: auto;
  min-height: 1000px;
  margin: 0;  
  z-index: 2;  
}
.projects .main-panel {
  background: rgb(224, 224, 224);
  min-height: 1000px;
  left: 0;  
  z-index: 2;
}
.projects .main-panel .slide {
  min-height: 400px;
  background: #fff;
  box-shadow: 0px 0px 15px #333;
  margin: 50px 40px;
  border-radius: 5px;
}
.projects .main-panel .slide .image-container {  
  padding: 0;
}
.projects .main-panel .slide .image-container img {
  width: 100%;
  height: 400px;
  margin: 0;
}
.projects .main-panel .slide .content {  
  padding: 30px 10px;  
}
.projects .main-panel .slide .content h3 {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  color: rgb(26, 24, 26);
  font-size: 30px;
  padding: 8px 10px;
  margin-bottom: 15px;
  border-left: 3px solid rgb(0, 189, 166);
}
.projects .main-panel .slide .content p {
  font-family: 'Raleway', sans-serif; 
  font-size: 15px;
  color: rgb(26, 24, 26);
  padding: 8px 10px 0;
  text-align: justify;  
}
.projects .main-panel .slide .content span {
  font-family: 'Raleway', sans-serif; 
  margin: 0px 12px;    
  font-size: 10px;
}
.projects .main-panel .slide .content a {
  font-family: 'Raleway', sans-serif; 
  font-size: 13px;  
  margin: 0;
  padding-top: 0;    
  color: rgb(65, 138, 254);
}
.projects .side-panel {
  height: 100%;
  padding: 40px 50px 50px;
  background: rgb(245, 245, 245);
  z-index: 2;
}
.projects .side-panel .content h3 {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 30px;
  color: rgb(26, 24, 26);
}
.projects .side-panel .content p {
  font-family: 'Raleway', sans-serif; 
  font-size: 18px;  
  color: rgb(26, 24, 26);
}
.projects .side-panel-secondary {
  min-height: 80px;
  z-index: 3;
  padding: 40px 50px 50px;
  background: rgb(69, 90, 100);    
}
.projects .side-panel-secondary .content h3 {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
  color: rgb(236, 234, 236);
}
.projects .side-panel-secondary .content p {
  font-family: 'Raleway', sans-serif; 
  font-size: 18px;
  color: rgb(226, 224, 226);
}

/* --------------------------------------------- */
/* Skills */
.skills {
  display: block;
  height: 300px;
  background: rgba(1, 1, 1, 0.2);
  z-index: 10;
  text-align: left;
  background: url('../blogs/october/parallaxEffect/images/jumboImage.jpg') center center no-repeat;
  background-size: cover;
}
.skills p {
  font-size: 40px;  
  color: rgba(236, 234, 236, 1);
  line-height: 300px;
  font-family: 'Raleway', sans-serif; 
  padding-left: 30px;
}
.skills .console {
  color: rgba(236, 234, 236, 0.6);
  padding-right: 15px;  
}
.skills .blink {
  animation: blinker .5s ease-in-out infinite both;  
}

@keyframes blinker {  
from { opacity: 1; }
to { opacity: 0; }
}


/* --------------------------------------------- */
/* Lab */
.labs {      
  background: rgb(224, 224, 224);
  height: auto;
  min-height: 1000px;
  margin: 0;  
  z-index: 3;
}
.labs .side-panel {
  height: 100%;
  z-index: 3;
  padding: 40px 50px 50px;
  background: rgb(69, 90, 100);    
}
.labs .side-panel .content h3 {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
  color: rgb(236, 234, 236);
}
.labs .side-panel .content p {
  font-family: 'Raleway', sans-serif; 
  font-size: 18px;
  color: rgb(226, 224, 226);
}
.labs .side-panel-secondary {
  min-height: 80px;
  z-index: 3;
  padding: 40px 50px 50px;
  background: rgb(69, 90, 100);    
}
.labs .side-panel-secondary .content h3 {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
  color: rgb(236, 234, 236);
}
.labs .side-panel-secondary .content p {
  font-family: 'Raleway', sans-serif; 
  font-size: 18px;
  color: rgb(226, 224, 226);
}
.labs .main-panel {
  background: rgb(82, 110, 121);
  min-height: 1000px; 
  right: 0;  
  z-index: 3;
}
.labs .main-panel .slide {
  min-height: 400px;
  background: #fff;
  box-shadow: 0px 0px 15px #333;
  margin: 50px 40px;
  border-radius: 5px;
}
.labs .main-panel .slide .image-container {  
  padding: 0;
}
.labs .main-panel .slide .image-container img {
  width: 100%;
  height: 400px;
  margin: 0;  
}
.labs .main-panel .slide .content {  
  padding: 30px 10px;
}
.labs .main-panel .slide .content h3 {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  color: rgb(26, 24, 26);
  font-size: 30px;
  padding: 8px 10px;
  margin-bottom: 15px;
  border-left: 3px solid rgb(0, 189, 166);
}
.labs .main-panel .slide .content p {
  font-family: 'Raleway', sans-serif; 
  font-size: 15px;
  color: rgb(26, 24, 26);
  padding: 8px 10px 0;
  text-align: justify;  
}
.labs .main-panel .slide .content span {
  font-family: 'Raleway', sans-serif; 
  margin: 0px 12px;    
  font-size: 10px;  
}
.labs .main-panel .slide .content a {
  font-family: 'Raleway', sans-serif; 
  font-size: 13px;  
  margin: 0;
  padding-top: 0;    
  color: rgb(65, 138, 254);
}

/* Section */
.section {
  display: block;
  min-height: 200px;
  background: rgba(201, 201, 201, 0.92);
  text-align: left;  
  padding: 20px;
  border-bottom: 2px solid #ccc;  
  z-index: 10;
}
.section h3 {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 30px;  
  color: rgb(2, 2, 2);
}
.section p {  
  font-family: 'Raleway', sans-serif; 
  font-size: 20px;
  color: rgb(2, 2, 2);
}
.section a {
  margin-top: 45px;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 25px;
  padding: 5px 40px;
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  transition: .5s ease-in;
}
.section a:hover {
  box-shadow: 0 0 10px #666;
}

/* Blogs */
.blogs {
  min-height: 600px;
  background: rgba(251, 251, 251, 0.92);
}
.blogs .heading {    
  color: #111;
  padding-top: 10px;     
}
.blogs .heading h3 {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 10px;  
  color: rgb(2, 2, 2);
}
.blogs .heading p {
  font-family: 'Raleway', sans-serif; 
  font-size: 20px;
  color: rgb(2, 2, 2);
}
.blogs .slides {  
  height: 450px;
  width: 100%;
  margin: 40px 0;
  padding: 0;
}
.blogs .slides .slide {      
  height: inherit;
  display: inline-block;  
  margin-left: -4px;  
  width: 10%;  
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.blogs .slides #s1 {
  background: rgb(65, 138, 254);
  color: #fff;
}
.blogs .slides #s2 {
  background: rgb(0, 189, 166);
  color: #fff;
}
.blogs .slides #s3 {
  background: rgb(238, 238, 238);
  color: #111;
}
.blogs .slides .active-slide {
  width: 80%;
}
.blogs .slides .slide .content {
  width: 100%;
  height: 100%;
  padding: 50px 150px;
}
.blogs .slides .slide .content h3 {
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
  margin-bottom: 50px;
}
.blogs .slides .slide .content p {
  font-family: 'Raleway', sans-serif; 
  font-size: 20px;
  margin-bottom: 20px;
}
.blogs .slides .slide .content span {
  font-family: 'Raleway', sans-serif; 
  font-size: 12px;
}
.blogs .slides .slide .content .btn-slide {
  font-family: 'Josefin Slab', serif;
  background: #111;
  color: #fff;
  border-radius: 0;
  padding: 5px 25px;
  margin-top: 20px;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.blogs .slides .slide .content .btn-slide:hover {
  box-shadow: 0 0 20px #333;
  padding: 5px 35px;
}

/* Connect */
.connect {
  display: block;
  min-height: 200px;
  text-align: center; 
  padding: 20px;
  margin: 0 80px;   
  border-radius: 5px;  
}
.connect h3 {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 30px;  
  color: rgb(2, 2, 2);
}
.connect .social_links {
  list-style: none;  
}
.connect .social_links .social_icon {
  display: inline;  
}
.connect .social_links .social_icon a {
  color: rgba(2, 2, 2, 0.7);  
  font-size: 35px;
  margin: 10px 40px;    
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.connect .social_links .social_icon a:hover {
  color: rgba(2, 2, 2, 1);      
}

/* Contact */
.contact {
  min-height: 500px;
  margin-top: 20px;
  background: rgb(255, 171, 69);
}
.contact .profile {
  margin: 100px;
  height: 300px;
  width: 250px;
  text-align: center;
  color: #444;  
  background: #fff;  
  box-shadow: 0 0 25px #333;
  border-bottom: 5px solid rgb(65, 138, 254);  
  border-radius: 5px;
}
.contact .profile .profile-img {
  border-bottom: 1px solid #444;
  width: 250px;
  height: 250px;  
}
.contact .profile h3 {
  font-family: 'Josefin Slab', serif;
  margin: 5px;
  font-size: 17px;
}
.contact .profile p {  
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}
.contact .content {
  margin: 70px 100px;  
}
.contact .content h3 {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 45px;
  color: #111;
}
.contact .content p {  
  font-family: 'Raleway', sans-serif;  
  font-size: 17px;
  color: #433;
}
.contact .content p span {
  color: #555;
  font-style: oblique;
}  
.contact .content p a {
  text-decoration: none;
  color: rgb(65, 38, 104);
}

/* FOOTER */
.footer {
  min-height: 80px;
  background: #111;
  text-align: center;
  padding: 30px;
  margin: 0;
  line-height: 50px;
  font-family: 'Raleway', sans-serif; 
  z-index: 9999;  
}
.footer .left_content {
  color: #ddd;
}
.footer .link {
  color: #ddd;  
  font-family: 'Raleway', sans-serif; 
}
.footer .link:hover {
  color: #ffa800;
  transition: .5s ease-in-out;
}
.footer .social_links {
  list-style: none;
}
.footer .social_links .social_icon {
  display: inline;
}
.footer .social_links .social_icon a {
  color: #ddd;
  font-size: 20px;
  margin: 10px;
  transition: .5s ease-in-out;
}
.footer .social_links .social_icon a:hover {
  color: #ffa800;
}

.side-panel-secondary {
  display: none;
}

/* Media queries */
@media ( max-width: 991px ) {  

  /* Jumbotron */  
  .jumbotron .profile {   
    height: 200px;
    width: 200px;  
    margin-left: 20%;      
  }  
  .jumbotron .content {
    padding: 15px;  
  }
  .jumbotron .content .heading {
    padding-left: 30px;  
  }

  .side-panel-secondary {
    display: block;
  }
  .side-panel {
    display: none;
  }

  /* Projects */  
  .projects .main-panel {
    padding-top: 40px;
    padding-bottom: 40px;
  }    
  .projects .main-panel .slide .image-container img {
    width: 100%;
    height: 40%;
    margin: 0;
  }  

  /* Labs */
  .labs .main-panel {
    padding-top: 40px;
    padding-bottom: 40px;
  }    
  .labs .main-panel .slide .image-container img {
    width: 100%;
    height: 40%;
    margin: 0;
  }
}
@media ( max-width: 767px ) {  
  
  .menu-toggle-btn {
    display: block;
  }
}
@media ( max-width: 667px ) {
  
  /* Jumbotron */
  .jumbotron .profile {      
    margin-top: 20px;
    padding: 0; 
  }
  .jumbotron .content {
    padding: 10px 5px;
  }

  /* Skills */
  .skills {
    padding: 10px 20px;
    height: 350px;
  }
  .skills p {
    line-height: 100px;
    font-size: 36px;  
  }

  /* Section */
  .section {
    padding: 20px 10px;
  }
  
  /* Blogs */
  .blogs .slides {  
    height: 520px;
  }
  .blogs .slides .slide .content {
    padding: 30px;
  }
  .blogs .slides .slide .content h3 {
    margin-bottom: 30px;
    font-size: 30px;
  }

  /* Connect */
  .connect {
    margin: 0 10px;
  }
  .connect .social_links .social_icon a {
    margin: 10px;    
  }

  /* Contact */
  .contact .profile {
    margin: 50px 30px;
  }
  .contact .content {
    margin: 70px 30px;  
  }

}