a, a:hover {
  text-decoration: none;
}

/*Menu*/
.menu {
  position: fixed;
  z-index: 9999;
  height: 50px;
  width: 100%;
  background: transparent;
  transition: .5s ease-in;
}
.menu .menu_logo {
  float: left;
  width: 40%;
  height: 100%;
  margin: 0;
  text-align: left;
}
.menu .menu_logo #logo img {
  position: relative;
  cursor: pointer;
  height: 50px;
  width: 50px;
  left: 50px;
}
.menu .menu_bar_container {
  height: 100%;
  width: 60%;
  float: right;
}
.menu .menu_bar_container .menu_item {
  height: 100%;
  width: 20%;
  display: inherit;
  float: right;
  font-size: 18px;
  font-family: sans-serif;
  margin: 0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #ddd;
  transition: .5s ease-in-out;
  text-decoration: none;
}
.menu .menu_bar_container .menu_item:hover {
  color: rgba(55, 203, 51, 1);
}

#blog_spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background: rgba(10,10,10,0.76);
  text-align: center;
  padding-top: 25%;
  top: 0;
  left: 0;
  display: none;
}
#blog_spinner i {
  font-size: 50px;
  color: #fff;
}

/* Jumbotron */
.jumbotron {
  min-height: 520px;
  margin: 0;
  text-align: center;
  padding-top: 150px;
  color: #aea;
}
.jumbotron h3 {
  font-size: 60px;
  font-family: monospace;
  padding: 5px;
  color: #fff;
}
.jumbotron .social_icon {
  display: inline-block;
  margin: 10px;
  margin-top: 100px;
}
.jumbotron .social_icon a {
  font-size: 30px;
  color: #aea;
  padding: 16px 20px;
  border-radius: 50px;
  transition: .5s ease-in;
}
.jumbotron .social_icon a:hover {
  color: #000000;
}
.jumbotron #subscribe_btn {
  border: 1px solid #aea;
  padding: 10px 15px;
  margin: 10px;
  font-size: 19px;
  color: #111;
  transition: .5s ease-in;
}
.jumbotron #subscribe_btn:hover {
  padding: 10px 30px;
}


/* Section */
.section {
  min-height: 630px;
  background-color: #eee;
  text-align: center;
}
.section .heading {
  font-family: 'Barrio', cursive;
  text-align: center;
  font-size: 40px;
  margin: 50px 10px;
}
.section .blog_month .sub_heading {
  font-family: 'Barrio', cursive;
  text-align: left;
  font-size: 30px;
  color: #666;
}
/* Blog */
.section .blog {
  min-height: 120px;
  background-color: #ffe8a8;
  margin: 50px;
  margin-left: 0;
  box-shadow: 0 1px 2px #333;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 5px;
  transition: .5s ease-in-out;
}
.section .blog:hover {
  opacity: 1;
  box-shadow: 0 1px 6px #333;
}
.section .blog .logo {
  font-size: 30px;
  color: #333;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
}
.section .blog .title {
  text-align: left;
}
.section .blog .date {
  text-align: left;
  padding: 5px;
  color: #555;
}
.section .blog .date .separator {
  padding-right: 5px;
}

/* Navigation*/
.section .navigation {
  min-height: 300px;
  width: 200px;
  margin: 30px;
  margin-left: 80px;
  background: rgba(255,232,193,0.5);
  padding: 30px;
  padding-left: 3px;
  top: 50px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #aaa;
  border: 3px solid #aaa;
  /*position: fixed;*/
}
.section .navigation .nav_list {
  list-style: none;
  text-align: left;
  margin: 0;
}
.section .navigation .nav_list .nav_item {
  padding: 5px 0px;
  cursor: pointer;
  transition: .5s ease-in-out;
}
.section .navigation .nav_list .nav_item:hover {
  padding-left: 5px;
}
.section .navigation .nav_list .nav_item a {
  color: #666;
  font-family: sans-serif;
  font-size: 17px;
  text-decoration: none;
}

/*Subscribe section*/
.subscribe {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 100px;
  background: rgba(10,10,10,0.7);
  display: none;
  text-align: center;
}
.subscribe .row {
  background-color: rgba(313, 313, 313, 1);
  margin: 50px;
  padding: 50px;
}
.subscribe .heading {
  font-size: 40px;
  font-family: 'Barrio', cursive;
  color: #444;
}
.subscribe .sub-heading {
  font-size: 20px;
  font-family: sans-serif;
  color: #665;
}
.subscribe .row form .row {
  padding: 20px;
  margin: 20px;
}
.subscribe #close_subscribe_btn {
  float: right;
  color: #111;
  font-size: 20px;
  cursor: pointer;
}
.subscribe .inputBlock .form-control {
  border: none;
  border-bottom: 1px solid rgba(101, 102, 255, 1);
  border-radius: 0;
  box-shadow: none;
  text-align: center;
}
.subscribe  .inputBlock .error {
	color: #a35c22;
	padding-top: 5px;
}
.subscribe  .submitBlock .submit_btn {
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(101, 102, 255, 1);
  transition: .5s ease-in-out;
}
.subscribe  .submitBlock .submit_btn:hover {
  box-shadow: 1px 1px 15px #333;
  padding: 10px 30px;
}

/* Media Queries */
@media (max-width: 995px) {
  .section .navigation {
    display: none;
  }
}
