<html>

<head>
  <!-- META DATA -->
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta name="description" content="Code-Knayam Blogs">
  <meta name="keywords" content="mayank jain, simply_mayankk, mayankjain1394@gmail.com, contact mayank jain, HTML, CSS, JavaScript, VSEC, DAMS, Kanpur, freelancer, bootstrap, php, jQuery, mayank jain info, personal website, Blogs, code-knayam, every day is code day">
  <meta name="author" content="Mayank Jain">
  <meta name="robots" content="index follow">
  <meta name="revisit-after" content="2 days">
  <meta name="google-site-verification" content="BjzK_RgUvMan84Vl03qVO8wzHMx8xH_q7F6RTKL7J0o" />

  <!-- JS links -->
  <!-- angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>


  <!-- Importing Files for angular -->
  <script src="../js/blogs/blogs_details.js"></script>
  <script src="../js/module.js"></script>
  <script src="../js/directives/blogDirectives.js"></script>

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
  <script src="../js/jQuery/blogs/index.js"></script>

  <!-- CSS links -->
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <!-- Gogle fonts -->
  <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">

  <!-- stylesheets -->
  <link href="../css/blogs/main.css" rel="stylesheet">
  <link href="../css/blogs/blogs_content.css" rel="stylesheet">
  <link href="../css/blogs/menu.css" rel="stylesheet">
  <link href="../css/base.css" rel="stylesheet">
  <link href="../css/footer.css" rel="stylesheet">

  <title>Code-knayam Blogs</title>
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">

  <!-- <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "WebSite",
        "name" : "Mayank Jain",
        "alternateName" : "MJ",
        "url" : "http://www.mayankjain.me"
      }
    </script> -->

</head>

<body ng-app="myBlogs">
  <div id="fb-root"></div>
  <script>
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <div menu-directive></div>


  <div class="jumbotron" style="background: url('../images/blogsBackground.png') no-repeat center center fixed;background-size: cover;">
    <div class="container">
      <div class="row">
        <h3>Code-knayam Blogs</h3>
        <ul class="social_icons_container">
          <li class="social_icon"><a href="https://www.facebook.com/EveryDayIsCodeDay/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li class="social_icon"><a href="http://in.linkedin.com/in/mayankjain1394" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li class="social_icon"><a href="mailto:mayankjain1394@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
          <li class="social_icon"><a href="http://instagram.com/mayank_jain_1394" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li class="social_icon"><a href="https://github.com/code-knayam" target="_blank"><i class="fa fa-github"></i></a></li>
          <li class="social_icon"><a href="tel:+918004520990" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
        </ul>
        <!-- <a class="btn" id="subscribe_btn">Subscribe</a> -->

      </div>
    </div>
  </div>

  <div class="section" blog-directive>
    <div class="container">
      <div class="row">
        <h3 class="heading">Blogs</h3>

        <!-- Blogs -->
        <div class="col-md-8">

          <!-- Blog Month -->
          <div class="blog_month" ng-repeat="month_detail in months_details" id="blog_{{month_detail.month}}">
            <h4 class="sub_heading">{{month_detail.month}} &nbsp;&nbsp;<i class="fa fa-angle-right"></i></h4>

            <!-- Individual blogs -->
            <div class="blog" ng-repeat="blog in month_detail.blog_container" ng-click="redirectTo(blog.blog_path)">
              <div class="col-md-2">
                <span class="logo"><i class="fa fa-quote-left"></i></span>
              </div>
              <div class="col-md-10">
                <h3 class="title">{{blog.blog_title}}</h3>
                <p class="date">
                  <span class="separator">-</span> {{blog.blog_date}}
                </p>
              </div>
            </div>

          </div>

        </div>

        <!-- Blogs navigation -->
        <!--<div class="col-md-4">
          <div class="navigation">
            <ul class="nav_list">
              <li class="nav_item" ng-repeat="month_detail in months_details" ng-click="bringToTop(month_detail.month)">
                <a>- {{month_detail.month}} , {{year}}</a>
              </li>
            </ul>
          </div>
        </div>-->

      </div>
    </div>
  </div>


  <div footer-directive></div>  

</body>

</html>