html {
  background: #aaa;    
}
a, a:hover {
  text-decoration: none;
}
h1, h2, h3, h4, p {
  font-family: Courier New, Courier, monospace;
}

/* Jumbotron */
.jumbotron {
  min-height: 450px;
  margin: 0;
  text-align: center;
  padding-top: 150px;
  color: #aea;
}
.jumbotron h3 {
  font-size: 60px;
  /* font-family: monospace; */
  padding: 5px;
  margin: 5px 50px;
  color: #fff;
}

.section_part {
  /*width: 100%;*/
  margin: 0;
  padding: 0;
}

/* Section */
.section {
  min-height: 630px;
  background-color: #eee;
  text-align: center;  
  padding: 20px;
}
.section .heading {
  font-weight: 500;  
}
.section p {
  font-size: 15px;
  color: #556;
  padding: 10px;
  line-height: 25px;
  text-align: left;
}
.section img {
  text-align: center;
  margin: 10px 4px;
  max-width: 40%;
  max-width: 40%;
}
.section img:last-child {
  margin-bottom: 50px;
}
.section .blockquote-reverse {
  margin-top: 100px;
}

.code-snippet {
  margin: 30px 10px;
  background: rgba(200, 140, 140, 0.8);
  padding: 10px 5px;
  border-radius: 5px;
}
.code-snippet .linenums{
  counter-reset:linenumber;
  text-align: left;
  padding: 10px 5px;
}
.code-snippet .linenums p {
  list-style-type:none;
  padding: 5px;
  color: #444;
  line-height: 5px;
  font-family: Courier New, Courier, monospace;
}
.code-snippet .linenums p:before{
  counter-increment:linenumber;
  content: counter(linenumber) " | ";
  float: left;
  color: #555;
}
.code-snippet .code_type {
  float: right;
  position: relative;  
  right: 3%;
  padding: 5px;
  font-size: 10px;
  background: #999;
}

@media (max-width: 991px) {
  .section { 
    margin-left: 50px;
  }
}