/* MENU */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background: transparent;
  transition: .5s ease-in;
}
.menu #logo {
  cursor: pointer;
  height: 50px;
  float: left;
  padding: 10px 30px;
  padding-left: 100px;
}
.menu #logo a:hover {
  color: rgba(204,204,0,1);
  transition: .5s ease-in-out;
}
.menu #menu_open_icon {
  cursor: pointer;
  height: 50px;
  float: right;
  padding: 10px 30px;
  transition: .5s ease-in-out;
}
.menu_container {
  position: fixed;
  background: rgba(10,10,10,0.9);
  left: 0;
  top: -700px;
  min-height: 700px;
  width: 100%;
  margin: 0;
  z-index: 99999;
  display: none;
}
.menu_container .flipper  {
  transform-origin: bottom;
  transform: rotateX(0deg);
  transition: 1.5s linear;
  background: rgba(10,10,10,0.9);
  width: 100%;
  height: 700px;
  padding-top: 200px;
}
.menu_container #menu_close_icon {
  text-align: right;
  height: 60px;
  margin: 30px;
}
.menu_container #menu_close_icon i {
  cursor: pointer;
}
.menu_container .menu_items {
  list-style: none;
  transform: rotateX(180deg);
}
.menu_container .menu_items .menu_item {
  cursor: pointer;
  margin: 20px;
}

/*Secondary Menu*/
.secondaryMenu {
  color: #fff;    
  padding: 0;  
  margin: 0;
  background: rgb(61, 68, 79);
  height: 100%;    
  width: 320px;  
  padding-top:  80px;
  position:   fixed;
  top:        0;
  bottom:     0;
  left:       0;
  right:      0;        
  overflow:   hidden;
  overflow-y: scroll;  
  border-right: 3px solid #111;
  background: #9bc45f;
  box-shadow: 0 5px 30px #444;
  z-index: 99;
}
.secondaryMenu .heading {
  text-align: center;
  position: fixed;
  margin: 0;
  padding: 80px 0 30px;
  background: rgb(61, 68, 79);
  color: #9bc45f;
  z-index: 2;
  width: 320px;
  top: 0;
  border-right: 3px solid #111; 
  border-bottom: 3px solid #111; 
}
.secondaryMenu .list-items {
  list-style: none;  
  margin-top: 50px;
  padding-left: 0px;
}
.secondaryMenu .list-items .list-item {
  margin: 0 10px;
  padding: 15px 10px;
  border-bottom: 2px solid #fff;
  transition: .5s ease-in-out;
  opacity: 0.7;
  cursor: pointer;
}
.secondaryMenu .list-items .list-item a {
  color: #111;
  font-size: 15px;
}
.secondaryMenu .list-items .list-item:hover {   
  padding: 15px 20px;  
  opacity: 1;   
}

/* Media Queries */
@media (max-width: 995px) {
  .menu #logo {
    text-align: center;
    padding-left: 10px;
  }
  .secondaryMenu {
    z-index: -1;
  }
}