html {
  overflow-x: hidden;
}
a, a:hover {
  text-decoration: none;
  cursor: pointer;
}
.text-xxl {
  font-size: 50px;
}
.text-xl {
  font-size: 40px;
}
.text-l {
  font-size: 30px;
}
.text-m {
  font-size: 22px;
}
.text-s {
  font-size: 15px;
}
p {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 200;
}
.image-long-shadow {
  box-shadow: 0 0 50px #333;
}
.text-barrio {
  font-family: "Barrio", cursive;
}
.text-color-black {
  color: #222;
}
.text-color-light-black {
  color: #555;
}
.text-color-orange {
  color: rgba(204,204,0,1);
}
.text-color-white {
  color: #fff;
}
.slow-spin {
  -webkit-animation: fa-spin 30s infinite linear;
  animation: fa-spin 30s infinite linear ;
}
.border-bottom {
  border-bottom: 2px solid #889;
}

.pattern {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 500px;
}
.pattern .part {
  height: 500px;
  width: 500px;
  display: inline-block;
  margin: 0;
  position: relative;
  z-index: -1;
  box-shadow: 0 0 30px #888;
}
.pattern #p1 {
  background: rgba(200,100,10,0.1);
  transform: rotateZ(45deg);
  top: -250px;
}
.pattern #p2 {
  background: rgba(10,200,100,0.1);
  transform: rotateZ(45deg);
  left: 170px;
}
.pattern #p3 {
  background: rgba(100,10,200,0.1);
  transform: rotateZ(45deg);
}

/* MENU */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background: transparent;
  transition: .5s ease-in;
}
.menu #logo {
  cursor: pointer;
  height: 50px;
  float: left;
  padding: 10px 30px;
}
.menu #logo a:hover {
  color: rgba(204,204,0,1);
  transition: .5s ease-in-out;
}
.menu #menu_open_icon {
  cursor: pointer;
  height: 50px;
  float: right;
  padding: 10px 30px;
  transition: .5s ease-in-out;
}
.menu_container {
  position: fixed;
  background: rgba(10,10,10,0.9);
  left: 0;
  top: -700px;
  min-height: 700px;
  width: 100%;
  margin: 0;
  z-index: 99999;
  display: none;
}
.menu_container .flipper  {
  transform-origin: bottom;
  transform: rotateX(0deg);
  transition: 1.5s linear;
  background: rgba(10,10,10,0.9);
  width: 100%;
  height: 700px;
  padding-top: 200px;
}
.menu_container #menu_close_icon {
  text-align: right;
  height: 60px;
  margin: 30px;
}
.menu_container #menu_close_icon i {
  cursor: pointer;
}
.menu_container .menu_items {
  list-style: none;
  transform: rotateX(180deg);
}
.menu_container .menu_items .menu_item {
  cursor: pointer;
  margin: 20px;
}

/* JUMBOTRON */
.jumbotron {
  min-height: 650px;
  min-height: 100%;
  padding-top: 150px;
  background: url('../images/jumbo3.jpg') center center no-repeat fixed;
  background-size: cover;
  margin: 0;
}
.jumbotron h4 {
  margin: 18px;
}
.jumbotron #get_more {
  margin-top: 180px;
}
.jumbotron #get_more i {
  cursor: pointer;
}


/* Section */
.section {
  min-height: 650px;
  margin: 10px 0;
  padding-bottom: 100px;
}
.section .heading {
  padding: 50px;
}
.section .single-section {
  height: 250px;
  transform-style: preserve-3d;
  transition: transform 1s;
  margin: 20px 0;
}
.section .single-section > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 250px;
  backface-visibility: hidden;
}
.section .front {
  height: 250px;
  width: 100%;
  box-shadow: 0 0 20px #333;
}
.section .back {
  background: rgba(4,4,0,0.9);
  height: 250px;
  padding: 30px;
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
}
.section .single-section:hover {
  transform:rotateY( 180deg );
}
.section .content {
  padding: 10px;
}
.section .link {
  margin-top: 18px;
}



/* Contact */
.contact  {
  min-height: 600px;
  margin: 80px 0 30px;
  color: #ddd;
  padding: 10px 10px 30px;
}
.contact  .social_icons_container {
  list-style: none;
  margin: 0;
  margin: 40px;
}
.contact  .social_icon {
  display: inline-block;
  margin: 10px;
}
.contact  .social_icon a {
  background: transparent;
  line-height: 50px;
  padding: 16px 20px;
  border-radius: 50px;
  transition: .5s ease-in;
}
.contact  .social_icon a:hover {
    color: rgba(204,204,0,1);
}
.contact .message_container {
  height: 400px;
  background: rgba(251,251,251,0.8);
  padding: 10px;
  overflow: scroll;
  margin: 30px 10px 0;
  box-shadow: 0 -4px 20px #334;
}
.contact .message_container .message {
  margin: 10px;
  position: relative;
  color: #111;
  transition: 1s ease-in-out;
  transform: scale(0);
}
.contact .message_container .message span {
  padding: 8px 16px;
  line-height: 30px;
  border-radius: 10px;
  box-shadow: 0 0 8px #888;
}
.contact .message_container .message_sent {
  text-align: right;
}
.contact .message_container .message_sent span {
  background-color: rgba(154,224,225,1);
}
.contact .message_container .message_received {
  text-align: left;
}
.contact .message_container .message_received span {
  background-color: rgba(225, 228, 104,1);
}
.contact .send_message_container {
  margin: 0 10px 10px;
}
.contact .send_mesasge_container .inputBlock {
  padding: 0;
  padding-left: 25px;
}
.contact .send_mesasge_container .form-control {
  border-radius: 0px;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #222;
}
.contact .send_mesasge_container .form-control:focus {
  box-shadow: none;
  border: none;
  border-bottom: 2px solid rgba(204,204,0,1);
}
.contact .send_mesasge_container .send_message {
  padding-right: 25px;
  padding-left: 0;
}
.contact .send_mesasge_container .send_message #send_message_btn {
  background: #333;
  border-radius: 0;
  margin: 0;
  width: 100%;
}
.contact .send_mesasge_container .send_message #send_message_btn:hover {
  color: rgba(204,204,0,1);
}


/* form */
.contact form {
	text-align: left;
	padding: 2px 20px;
	overflow: hidden;
}
.contact .form-control  {
	padding: 5px 5px 0;
	color: #111;
	width: 100%;
	background: transparent;
	font-size: 18px;
	border: none;
	border-bottom: 1px solid #111;
	border-radius: 1px;
	box-shadow: none;
}
.contact  .inputBlock {
	position: relative;
	margin: 25px 0 25px;
	font-size: 14px;
  font-weight: 400;
}

/* animating the label
and creating a floating effect when in focus */
.contact  .inputBlock label {
	position: absolute;
	top: 0;
	bottom: 0;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	width: 100%;
	cursor: text;
	padding: 5px 5px 0;
  font-family: sans-serif;
  font-weight: lighter;
  color: #333;
}

.contact  .inputBlock .form-control:focus + label
,.contact  .inputBlock .form-control:valid + label , .set-label {
	margin-top: -25px;
	font-size: 14px;
	color: rgba(55, 203, 51, 1);
	padding-left: 0;
	margin-left: 0;
}
.contact  .inputBlock .error {
	position: absolute;
	color: #a35c22;
	padding-top: 5px;
}
textarea {
  resize: none;
}


/* submit button properties */
.contact  .submitBlock {
	margin: 5px 0 0;
	text-align: center;
}
.contact  #submit_btn {
	background: #333;
	font-style: italic;
	color: #aaa;
	font-size: 15px;
	padding: 10px 15px;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.contact #submit_btn:hover {
	box-shadow: 0 0 1px #222;
	background: rgba(55, 203, 51, 1);
  color: #000000;
  padding: 10px 35px;
}
.contact .message {
  display: none;
  width: 100%;
	position: relative;
	top: 0;
	left: 0;
  padding: 10px ;
  text-align: center;
	transform: rotateY(90deg);
}
.contact .message h3 {
  font-family: cursive;
  color: #222;
}


/* Media Queries */
@media (max-width: 995px) {
  .contact  .inputBlock {
		margin-top: 45px;
		margin-bottom: 0;
	}
}


/* FOOTER */
.footer {
  min-height: 80px;
  background: #111;
  text-align: center;
  padding: 30px;
  margin: 0;
  line-height: 50px;
}
.footer .left_content {
  color: #ddd;
}
.footer .link {
  color: #ddd;
  font-family: sans-serif;
}
.footer .link:hover {
  color: #ffa800;
  transition: .5s ease-in-out;
}
.footer .social_links {
  list-style: none;
}
.footer .social_links .social_icon {
  display: inline;
}
.footer .social_links .social_icon a {
  color: #ddd;
  font-size: 20px;
  margin: 10px;
  transition: .5s ease-in-out;
}
.footer .social_links .social_icon a:hover {
  color: #ffa800;
}

/* Media Queries */
@media (max-width: 995px) {
  .contact .send_mesasge_container .inputBlock {
    padding-right: 25px;
  }
  .contact .send_mesasge_container .send_message {
    padding-left: 25px;
  }
}
